.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-wrapper input{
  display: none;
}

.rating-wrapper label{
  cursor: pointer;
}

.star{
  transition: ease-in 150ms;
}

.star.star-disabled{
  opacity: 0.5;
  cursor: default;
}